<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) Xandar IP 2013.
  ~
  ~ All Rights Reserved
  ~ No part of this application may be reproduced, copied, modified or adapted, without the prior written consent
  ~ of the author, unless otherwise indicated for stand-alone materials.
  ~
  ~ Contact support@xandar.com.au for copyright requests.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.acra.acra">
    
    <!--
        Version API Name
        6.0     23  Marshmallow
        5.0     21  Lollipop
        4.4W    20  KitKat Watch
        4.4.2   19  KitKat
        4.3     18
        4.2     17
        4.1     16  Jelly Bean
        4.0.3   15
        4.0     14  Ice Cream Sandwich
        3.2     13
        3.1.X   12
        3.0     11  Honeycomb
        2.3.3   10  Gingerbread
        2.3     9
        2.2     8   Froyo
        2.1     7   Eclair
        2.0.1   6
        2.0     5
        1.6     4   Donut
        1.5     3   Cupcake
        1.1     2
        1.0     1
    -->
    <uses-sdk android:minSdkVersion="8"/>

    <application>
        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:process=":acra"/>

        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra" />
    </application>
</manifest>