<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.acra.sampleapp" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="CrashTest">


		<activity android:name="CrashTestActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 