name: test

on:
  workflow_dispatch:
  pull_request:
  push:
    paths-ignore:
      - 'web/**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        android:
          - { version: '21', arch: "x86_64" }
          - { version: '26', arch: "x86_64" }
          - { version: '34', arch: "x86_64" }

    steps:
      - name: Checkout ACRA
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

#      - name: "Load AVD from cache. API/Arch ${{ matrix.android.version }}-${{ matrix.android.arch }}"
#        uses: actions/cache@v4
#        id: avd-cache
#        with:
#          path: |
#            ~/.android/avd/*
#            ~/.android/adb*
#          key: emulator-${{ matrix.android.version }}-${{ matrix.android.arch }}
#
#      - name: "Create AVD and generate snapshot for caching. API/Arch: ${{ matrix.android.version }}-${{ matrix.android.arch }}"
#        if: steps.avd-cache.outputs.cache-hit != 'true'
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          api-level: ${{ matrix.android.version }}
#          arch: ${{ matrix.android.arch }}
#          target: 'google_apis'
#          force-avd-creation: false
#          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
#          disable-animations: false
#          script: echo "Generated AVD snapshot for caching."

      - name: "Run tests. API/Arch: ${{ matrix.android.version }}-${{ matrix.android.arch }}"
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.android.version }}
          arch: ${{ matrix.android.arch }}
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-metrics
          disable-animations: true
          script: ./gradlew uninstallAll connectedCheck --no-daemon
